.simple-textbox{
    height:38px;
    width:300px;
}
.simple-slider{
    width:300px;
}
.simple-slider .progress-bar{
    height:10px;
}
.simple-slider span.slider-btn{
    color:#33cabb;
    background-color:#ffffff;
    display: block;
    position: absolute;
    line-height: 10px;
    font-size: 24px;
}