.simple-textbox{
    height:38px;
    width:300px;
}
.simple-slider{
    width:300px;
}
.simple-slider .progress-bar{
    height:10px;
}
.simple-slider span.slider-btn{
    display: block;
    position: absolute;
    line-height: 10px;
    font-size: 24px;
}