.simple-textbox{
    height:38px;
    width:300px;
}
.simple-slider{
    width:300px;
}
.simple-slider .progress-bar{
    height:10px;
    position: relative;
    border-radius: 10px;
}
.simple-slider .slider-tip{
    position: absolute;
    display: inline-block;
    margin-top: -20px;
    color: #4d5259;
    font-size: 14px;
}
.simple-slider span.slider-btn{
    color:#33cabb;
    background-color:#ffffff;
    display: block;
    position: absolute;
    line-height: 10px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    width: 20px;
    margin-left: -10px;
}
.simple-slider .slider-rule span {
    position: absolute;
    display: inline-block;
    font-size: 0;
    height: 5px;
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: #33cabb;
}
.simple-slider .slider-rule{
    position: relative;
    top: 16px;
}
.simple-slider .slider-rulelabel{
    position: relative;
    top: 20px;
}
.simple-slider .slider-rulelabel span {
    position: absolute;
    display: inline-block;
}
.simple-slider-portrait{
    transform: rotate(-90deg);
}
.simple-slider-portrait .slider-rulelabel span,.simple-slider-portrait .slider-tip{
    transform: rotate(90deg);
}