<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ui在angular中使用</title>
    <script src="./simpleui-1.0.0/boot.js?mode=angular&modules=form&skin=blue&lang=zh_CN&profile=test"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="testCtrl">
    <div ng-repeat="button in buttons">
        <div class="simple-button" id="{{button.id}}" name="{{button.name}}" text="{{button.text}}" eltextchange="textchange" elclick="buttonClick"></div>
    </div>
    <a ng-click="changeButton()">点击我修改第二个按钮名称</a>
    <div>{{test_text}}</div>
</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('testCtrl', function($scope) {
        $scope.$on('ngRepeatFinished', function(){
            console.log("123132");
        });
        $scope.test_text = "测试"
        $scope.buttons = [
            {
                name:"第一个按钮",
                text:"第一个按钮名称",
                id:"first-button"
            } ,
            {
                name:"第二个按钮",
                text:"第二个按钮名称",
                id:"second-button"
            }
        ];
        $scope.changeButton = function() {
            $scope.buttons[1].text="修改后按钮";
        };

    });
</script>
</body>
</html>