<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->

</head>
<body>
<div id="app">
    <mt-button @click.native="toSignUp">报名</mt-button>
    <mt-popup
            v-model="popupVisible" position="right" style="width:100%;height:100%;"
    >
        <mt-header v-bind:title="userName"></mt-header>
        <el-row>
            <el-col><el-calendar v-model="currentDate">
            </el-calendar></el-col>
        </el-row>
        <div style="width:100%;text-align:center;">
            <mt-button type="primary" style="margin-right:20px;">确定</mt-button>
            <mt-button type="default" style="margin-left:20px;">取消</mt-button>
        </div>
    </mt-popup>
</div>
</body>
<!-- 先引入 Vue -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/mint-ui/lib/index.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data:{
            popupVisible:false,
            userName:"",
            currentDate:new Date(),
            calendarStyle:"width:"+window.outerWidth+"px;height:"+window.outerWidth+"px;"
        },
        methods: {
            toSignUp: function() {
                var that = this;
                //显示弹出层
                Vue.ajax("张三",function(ret){
                    that.userName = ret;
                    that.popupVisible=true;
                });
            }
        }
    });
    //模拟ajax
    Vue.ajax = function(test,callBack){
        callBack(test);
    }
</script>
</html>