.none-message-div{
    position: fixed;
    width: 300px;
    left: calc(50vw - 150px);
    top: 10px;
    border: 1px solid #f3f1f1;
    border-radius: 3px;
    background-color: #f3f1f1f5;
}
.none-message-div-text{
    text-align: center;
    line-height: 25px;
    font-size: 14px;
}