<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmartUi-antd</title>
    <script src="./asserts/js/init.js?from=antd"></script>
    <script src="../smart-ui-1.0.0/antd1.4.12/router.js"></script>
    <style>
        .logo-btn{
            display: flex;
            align-items: center;
            height: 64px;
            text-decoration:none;
        }
        .logo-btn img{
            height: 32px;
            margin: 0px 12px;
        }
        .logo-btn h1{
            margin-top: auto;
            margin-bottom: auto;
            color:#000000;
        }
        .index-menu{
            border-right:none;
            width:256px;
        }
        .index-tabs{
            background: #ffffff;
        }
    </style>
</head>
<body>
<div id="app" style="height:100%;width:100%;">
    <a-layout style="height:100%;">
        <a-layout-sider width="256" style="background:#ffffff;">
            <div class="ant-pro-sider-menu-logo" id="logo">
                <a class="logo-btn" href="">
                    <img src="./asserts/images/logo.png"/>
                    <h1>SmartUi-antd</h1>
                </a>
            </div>
            <a-menu class="index-menu" mode="inline" @click="selectMenuItem" v-model="menuSelectedKey" :open-keys.sync="openKeys">
                <a-sub-menu :key="menu.id" v-for="menu in menus">
                    <span slot="title"><span>{{menu.text}}</span></span>
                    <a-menu-item :key="menu1.id" v-for="menu1 in menu.children">
                        {{menu1.text}}
                    </a-menu-item>
                </a-sub-menu>
            </a-menu>
        </a-layout-sider>
        <a-layout>
            <a-layout-header style="background:#ffffff;">
                <a-row>
                    <a-col :span="8">
                        <a href="https://www.antdv.com/docs/vue/introduce-cn/" target="_blank">官方文档</a>
                    </a-col>
                    <div style="float:right;">
                        <a-avatar icon="user"></a-avatar>
                        <span style="margin-left:3px;">{{username}}</span>
                        <a-button style="margin-left:10px;" type="link" @click="toLogut">退出</a-button>
                    </div>
                </a-row>
            </a-layout-header>
            <a-layout-content style="padding:10px;">
                <a-tabs hide-add v-model="menuSelectedKey[0]" type="editable-card" @edit="onTabEdit" class="index-tabs" @change="onTabChange">
                    <a-tab-pane v-for="pane in panes" :tab="pane.text" :key="pane.id" closable="true">
                    </a-tab-pane>
                </a-tabs>
                <div id="panel-body-list"></div>
            </a-layout-content>
            <a-layout-footer style="text-align:center;">
                Copyright © Power By QQ:185085781 WX:qiantangxiaobei
            </a-layout-footer>
        </a-layout>

    </a-layout>
</div>
</body>
<script>
    /*演示数据*/
    var user = {
        getInfo:function(callback){
            callback({username:"张三"});
        },
        logout:function(){
            utils.$.successMsg("您已成功退出");
        },
        getMenus:function(callback){
            var data = [
                {"id":"0cc175b9c0f1b6a831c399e269772661","text":"设置","url":"","type":",1,","pid":null,"orderField":0},
                {"id":"693a9fdd4c2fd0700968fba0d07ff3c0","text":"用户设置","url":"/html/tab.html","type":",1,","pid":"0cc175b9c0f1b6a831c399e269772661","orderField":1},
                {"id":"36eba1e1e343279857ea7f69a597324e","text":"系统设置","url":"/html/tab2.html","type":",1,","pid":"0cc175b9c0f1b6a831c399e269772661","orderField":2},
                {"id":"4251ad75fd7e037c6095c0bf5924a5be","text":"统计","url":"","type":",1,","pid":null,"orderField":0},
                {"id":"a3c56aa6943d79989069b3d04b2da6af","text":"单点统计","url":"/html/tab3.html","type":",1,","pid":"4251ad75fd7e037c6095c0bf5924a5be","orderField":1},
                {"id":"a297baa51854616d989470cdb0f107ee","text":"多点统计","url":"/html/tab4.html","type":",1,","pid":"4251ad75fd7e037c6095c0bf5924a5be","orderField":2}
                ];
            callback(data);
        }
    };
</script>
<script type="text/javascript">
    Vue.app({
        data:{
            username:"",
            menus:[],
            iframeHeight:"0",
            panes:[],
            menuSelectedKey:[""],
            host:utils.uiHost,
            openKeys:[]
        },
        methods: {
            selectMenuItem:function(item){
                router.routerPageId(item.key);
            },
            onTabEdit:function(key,action){
                this[action](key);
            },
            remove:function(key){
                router.removePageId(key);
            },
            onTabChange:function(key){
                router.routerPageId(key);
            },
            toLogut:function(){
                user.logout();
            }
        },
        mounted:function(){
            var that = this;
            user.getInfo(function(data){
                that.username = data.username;
            });
            user.getMenus(function (data) {
                var options = {
                    vm:that,
                    panesField:"panes",
                    selectKeyField:"menuSelectedKey",
                    menuUrlField:"url",
                    menus:data,
                    menusField:"menus",
                    menuIdField:"id",
                    menuPidField:"pid",
                    openKeysField:"openKeys",
                    iframesDivEl:"#panel-body-list",
                    onRouter:function(){
                    },
                    uiHost:that.host,
                    background:"#ffffff"
                };
                router.init(options);
            });
        }
    });
</script>
</html>